

{% extends 'partial/layout.html' %}
    {% block topheader %}
	 {% include "partial/topheader.html" %}
	{% endblock topheader %}		
		
	{% block header %}
		{% include "partial/header.html" %}
	{% endblock header %}
		
	{% block navigation %}
	 {% include "partial/navigation.html" %}
	{% endblock navigation %}
	
	{% block newproduct %}
		{% include "partial/newproduct.html" %}
	{% endblock newproduct %}
	
	{% block latestproduct %}
		{% include "partial/latestproduct.html" %}
	{% endblock latestproduct %}
	
	{% block footer %}
		{% include "partial/footer.html" %}
	{% endblock footer %}
		
	{% block script %}
	    {% include "partial/script.html" %}
	{% endblock script %}

